USE [master]
GO
/****** Object:  Database [Book]    Script Date: 02/06/2025 19:26:24 ******/
CREATE DATABASE [Book]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Book', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Book.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Book_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Book_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Book].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Book]
GO
/****** Object:  Table [dbo].[books]    Script Date: 02/06/2025 19:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[work_id] [int] NOT NULL,
	[books_count] [int] NOT NULL,
	[isbn] [nvarchar](max) NULL,
	[isbn13] [float] NULL,
	[authors] [nvarchar](max) NOT NULL,
	[original_publication_year] [float] NULL,
	[original_title] [nvarchar](max) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[language_code] [nvarchar](max) NULL,
	[average_rating] [float] NOT NULL,
	[ratings_count] [int] NOT NULL,
	[work_ratings_count] [int] NOT NULL,
	[work_text_reviews_count] [int] NOT NULL,
	[ratings_1] [int] NOT NULL,
	[ratings_2] [int] NOT NULL,
	[ratings_3] [int] NOT NULL,
	[ratings_4] [int] NOT NULL,
	[ratings_5] [int] NOT NULL,
	[image_url] [nvarchar](max) NOT NULL,
	[small_image_url] [nvarchar](max) NOT NULL,
	[category] [nvarchar](max) NOT NULL,
	[age_group] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
